<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}">
<script type="text/javascript" src="thymeleaf.js" th:src="@{/static/templates/thymeleaf.js}"></script>


<div th:replace="include::footer1"></div>
<div th:replace="include::footer2(2015,2018)"></div>

<head>
    <meta charset="UTF-8">
    <title>thymeleaf test</title>

</head>
<body>

<div class="showing">
    <h2>带状态遍历</h2>
    <table>
        <thead>
         <tr>
             <th>index</th>
             <th>id</th>
             <th>姓名</th>
         </tr>
        </thead>
        <tbody>
            <tr th:class="${status.even}?'even':'odd'" th:each="s,status:${students}">
                <td th:text="${status.index}"></td>
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="showing">
    <h2>遍历 select</h2>
    <select size="5">
        <option th:each="s:${students}" th:value="${s.id}" th:selected="${s.id == selectedstudent.id}"
                th:text="${s.name}"></option>
    </select>
</div>

<div class="showing">
    <h2>遍历 radio</h2>
    <input name="student" type="radio" th:each="s:${students}" th:value="${s.id}" th:checked="${s.id == selectedstudent.id}" th:text="${s.name}">
</div>

<div class="showing">
    <h2>格式化日期</h2>
    直接输出日期：${now}:
    <p th:text="${now}"></p>
    默认格式化${#dates.format(now)}:
    <p th:text="${#dates.format(now)}"></p>
    自定义格式化 ${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}:
    <p th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"></p>

</div>

<div class="showing">
    <h2>打印thymeleaf自定义的一些工具类信息</h2>
    <p th:text="${#execInfo.templateName}"></p>
    <p th:text="${#execInfo.templateMode}"></p>
    <p th:text="${#execInfo.processedTemplateName}"></p>
    <p th:text="${#execInfo.processedTemplateMode}"></p>
    <p th:text="${#execInfo.templateNames}"></p>
    <p th:text="${#execInfo.templateModes}"></p>
    <p th:text="${#execInfo.templateStack}"></p>
</div>


<div style="width: 500px;margin: 20px auto;text-align: center">
    <table align="center" border="1" cellspacing="0">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
    </table>
</div>



</body>
</html>
