<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       xmlns:p="http://www.springframework.org/schema/p">


    <context:annotation-config/>


    <bean id="beanTeamplate" abstract="true">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>

    <bean id="helloWorld" class="HelloWorld" scope="singleton"
          lazy-init="true" destroy-method="destroyMethod" init-method="initMethod" parent="beanTeamplate">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>


    <bean class="HelloProcessor" scope="prototype"/>


    <bean class="GoodBoy" id="goodBoy" scope="prototype"/>

    <bean id="textEditor" class="TextEditor">
        <constructor-arg index="0" ref="spellCheck"/>
    </bean>

    <bean id="spellCheck" class="SpellChecker"/>

    <bean id="student" class="Student"
          p:name="Liudong"
          p:speaker-ref="studentSpeaker">
        <property name="writer">
            <bean id="writer" class="Writer"/>
        </property>

    </bean>
    <bean id="studentSpeaker" class="Speaker"/>


    <bean id="javaCollection" class="JavaCollection">

        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
                <ref bean="address1"/>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>

    <bean id="address1" class="Address"/>

    <bean id="talk" class="Talk"/>


    <bean id="autowired" class="AutoWiredTest" autowire="constructor">
        <property name="age" value="1"/>
    </bean>

    <bean id="dog" class="Dog"/>

    <bean id="cat" class="Cat">
        <constructor-arg  index="0" type="int" value="100"/>
    </bean>

    <bean id="source" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/TEST"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>
    <bean id="studentjdbctemplate" class="db.StudentJDBCTemplate">
        <property name="dataSource" ref="source"/>
    </bean>


</beans>