<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magina.antiswindle.user.mapper.UserMapper">
    <insert id="register" parameterType="com.magina.antiswindle.user.User" useGeneratedKeys="true" keyProperty="id">
        insert into user set name=#{name},avatar_url=#{avatar_url},phone=#{phone},password=#{password},created_at=#{created_at},updated_at=#{updated_at}
    </insert>
    <select id="queryByPhone" parameterType="String" resultType="com.magina.antiswindle.user.User">
        select * from user where phone=#{phone}
    </select>

    <select id="queryByName" parameterType="String" resultType="com.magina.antiswindle.user.User">
        select * from user where name=#{username}
    </select>

    <select id="queryById" parameterType="int" resultType="com.magina.antiswindle.user.User">
        select * from user where id=#{id}
    </select>

    <update id="update" parameterType="com.magina.antiswindle.user.User">
        update user  set name=#{name},avatar_url=#{avatar_url},phone=#{phone},password = #{password},created_at = #{created_at},updated_at=#{updated_at} where id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>