<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magina.antiswindle.res.mapper.ResItemMapper">

    <insert id="addRes" parameterType="com.magina.antiswindle.res.model.ItemResource" useGeneratedKeys="true"
            keyProperty="id">
        insert into anti_swindle set source_account=#{source_account},timestamp=#{data.timestamp},source=#{data.source},title=#{data.title},detail_content=#{data.detail_content},comment=#{data.comment},video=#{data.video},image=#{data.image}
    </insert>

</mapper>